body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: cornsilk;
}

/* Nav bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.829);
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

.logo:hover {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  background-color: #6b6969d5;
  border-radius: 5px;
}

.cart-icon img {
  height: 30px;
  transition: transform 0.3s;
}

.cart-icon img:hover {
  transform: scale(1.1);
}

.always_active {
  background-color: #007bff;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6b6969d5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Slider */

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  cursor: pointer;
  font-size: 2em;
  color: white;
  padding: 10px;
  user-select: none;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

/* Box na slideru - preklapanje */

.half-below-slider {
  width: 400px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #007bfff3;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.half-below-slider h1 {
  margin-bottom: 0;
}

.half-below-slider p {
  font-size: 15px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  position: absolute;
  bottom: -15%;
}

.big-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.container .half-below-slider:nth-of-type(1),
.container .half-below-slider:nth-of-type(2) {
  margin-right: 10%;
}

.container .half-below-slider:nth-of-type(1),
.container .half-below-slider:nth-of-type(3) .button {
  background-color: rgba(0, 128, 0, 0.915);
}

.container .half-below-slider:nth-of-type(3),
.half-below-slider:nth-of-type(2) .button {
  background-color: rgba(128, 0, 128, 0.915);
}

.half-below-slider:nth-of-type(2) .button:hover {
  background-color: rgb(90, 2, 90);
}

.container .half-below-slider:nth-of-type(3) .button:hover {
  background-color: rgb(3, 87, 3);
}

.half-below-slider .button {
  border: 1px solid #0057b364;
}

/* Sekcija proizvodi */

.section-of-products {
  margin-top: 15%;
}

.section-of-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section-of-products h1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 5%;
}

.show_all_products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}

.button:hover {
  cursor: pointer;
}

.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.product img {
  width: 300px;
  height: 300px;
}

/* Footer */

/* Stilovi za footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  position: relative;
}

.container-for-footer {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-section {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.footer-section.about h2.logo {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer-section.about h2.logo a {
  color: white;
  text-decoration: none;
}

.footer-section.about h2.logo a:hover {
  color: #007bff;
}

.footer-section.about p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.contact-form textarea {
  resize: none;
}

.footer-section.about .contact span {
  display: block;
  margin-bottom: 10px;
}

.footer-section.about .socials a {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 10px;
  transition: color 0.3s;
}

.footer-section.about .socials a:hover {
  color: #007bff;
}

.fab {
  color: white;
  margin-right: 25px;
  font-size: xx-large;
}

.fab:hover {
  color: #007bff;
}

.link-fo {
  color: #007bff;
}

.link-fo:hover {
  color: #0056b3;
}

.footer-section.links {
  text-align: center;
}

.footer-section.links ul li a {
  color: white;
  text-decoration: none;
}

.footer-section.links ul li a:hover {
  color: #007bff;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links ul li {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #222;
  color: #ccc;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-bottom a {
  color: #ccc;
}

.footer-bottom a:hover {
  color: #007bff;
}

/* user_cart.html */

.cont-under-navbar {
  width: 100%;
  background-color: rgba(185, 185, 185, 0.747);
  display: flex;
  align-items: center;
}

.cont-under-navbar p {
  margin-left: 10%;
  color: black;
}

.cont-under-navbar p a {
  text-decoration: none;
}

.cont-under-navbar p a {
  color: #007bff;
}

.cont-under-navbar p a:hover {
  color: #0056b3;
}

/* tabela proizvoda */

.product-table-container {
  margin: 3% auto 5% auto;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 12px 15px;
  text-align: center;
}

.product-table th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.product-table td {
  border-bottom: 1px solid #ddd;
}

.product-table img {
  max-width: 100px;
  border-radius: 4px;
}

.remove-btn,
.requestButton {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.requestButton {
  background-color: #007bff;
}

.requestButton:hover {
  background-color: #0057b3bb;
}

.remove-btn:hover {
  background-color: #ff1a1a;
}

tr td input {
  width: 10%;
  text-align: center;
  height: 25px;
  padding: 0;
  margin: 0 10px 0 10px;
}

.div-for-quantity button {
  height: 29px;
  width: 10%;
  background-color: #007bff65;
  border: 1px solid;
  border-color: #0057b3c5;
  border-radius: 5px;
}

.div-for-quantity button:hover {
  background-color: #248cfa;
  cursor: pointer;
}

.cart {
  margin-top: 20px;
}
.cart-list {
  list-style-type: none;
  padding: 0;
}
.cart-list li {
  margin-bottom: 5px;
}

.cart-list li span {
  font-weight: bold;
  color: #248cfa;
}

/* Stranica "proizvodi" */

/* filter pretraga */

.filter-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0551a3;
}

#filters {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* Kontakt forma */

.contact-form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 100px 0;
}

.main-div-for-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form h2 {
  margin-bottom: 1rem;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  width: 20%;
  padding: 0.75rem;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #0056b3;
}

/* Log in / register sstranica */

.container-for-logIn {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
}

.toggle-buttons {
  display: flex;
}

.toggle-buttons button {
  flex: 1;
  padding: 15px;
  border: none;
  cursor: pointer;
  background: #007bff;
  color: white;
  transition: background 0.3s;
}

.toggle-buttons button:hover {
  background: #0056b3;
}

.form-container {
  padding: 20px;
  position: relative;
}

.loginForm {
  display: none;
  flex-direction: column;
}

.loginForm h2 {
  margin-bottom: 20px;
}

.loginForm input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginForm button {
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.loginForm button:hover {
  background: #0056b3;
}

#login-form.active,
#register-form.active {
  display: flex;
}

.div-center-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

/* About stranica */

.about-us {
  padding: 2rem 1rem;
  background-color: rgba(51, 51, 51, 0.829);
}

.container-for-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.image,
.content {
  flex: 1 1 45%;
}

.image img {
  width: 100%;
  border-radius: 8px;
}

.content h2 {
  color: #6c63ff;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.content p {
  margin-bottom: 1.5rem;
  text-align: justify;
}

/* Products.html - checkbox buttons */

.div-for-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.div-for-checkbox label {
  margin-right: 5px;
  font-size: x-small;
}

.div-for-checkbox input {
  height: 25px;
  width: 25px;
}

.button-finalProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
