<footer class="footer">
    <div class="container-for-footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2 class="logo"><a href="/">E-Pharmacy</a></h2>
                <p><b>E-Pharmacy</b> je online apoteka preko koje korisnici mogu napisati recept (porudžbinu) za
                    ljekove koji su im potrebni.<br>Farmaceut može imati uvid u ove porudžbine i spremiti ih za
                    pacijenta.</br></p>
                <div class="contact">
                    <span><i class="fas fa-envelope"></i> <a href="mailto:e-pharmacy@outlook.com" class="link-fo">
                            e-pharmacy@outlook.com</a></span>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Brzi linkovi</h2>
                <ul>
                    <li><a href="/">Početna</a></li>
                    <li><a href="#">O nama</a></li>
                    <li><a href="#">Ponuda</a></li>
                    <li><a href="#">Recepti</a></li>
                </ul>
                <div class="socials">
                    <h4>Pratite nas i na društvenim mrežama</h4>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 E-Pharmacy. Sva prava zadržana.
    </div>
</footer>