<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="{{url_for('static', filename='Images/logo.png')}}" alt="Logo">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/" class="active">Pocetna</a></li>
        <li><a href="/o_nama/">O nama</a></li>
        <li><a href="/ljekovi/">Ponuda</a></li>
        <li><a href="/recepti/">Recepti</a></li>
        <li><a href="/kontakt/">Kontakt</a></li>
        <li><a href="/login/" class="always_active">Log in</a></li>
    </ul>

</nav>