<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-pharmacy</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/Icons/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="https://kit.fontawesome.com/3e58fdca93.js" crossorigin="anonymous"></script>

</head>

<body>

    {% include 'components/nav.html' %}

    <div class="big-container">
        <div class="slider">
            <div class="slides">
                <div class="slide slide-1 active"
                    style="background-image: url('{{url_for('static',filename='Images/slider1.jpg')}}');">
                    <div class="content">
                        <h1>Zdravlje na prvom mjestu!</h1>
                        <p>Pogledajte proizvode koje nudimo.</p><br>
                        <a href="/ljekovi/" class="button">Pogledajte proizvode</a>
                    </div>
                </div>
                <div class="slide slide-2"
                    style="background-image: url('{{url_for('static',filename='Images/slider2.jpg')}}');">
                    <div class="content">
                        <h1>Kvalitet za vašu dobrobit!</h1>
                        <p>Otkrijte našu paletu proizvoda za zdraviji život.</p><br>
                        <a href="/ljekovi/" class="button">Pogledajte proizvode</a>
                    </div>
                </div>
                <div class="slide slide-3"
                    style="background-image: url('{{url_for('static',filename='Images/slider3.jpg')}}');">
                    <div class="content">
                        <h1>Briga o vašem zdravlju, naša prednost!</h1>
                        <p>Inspirišite se našim proizvodima za svaki aspekt vašeg zdravlja.</p><br>
                        <a href="/ljekovi/" class="button">Pogledajte proizvode</a>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <div class="arrow left">&#10094;</div>
                <div class="arrow right">&#10095;</div>
            </div>
        </div>

        <div class="container">
            <div class="half-below-slider">
                <h1>Vitamini</h1>
                <p>U asortimanu proizvoda posjetujemo veliki broj vitamina (A, B, C, D, E) za djecu i odrasle. </p>
                <a href="/ljekovi/" class="button">Ponuda vitamina</a>
            </div>
            <div class="half-below-slider">
                <h1>Ljekovi</h1>
                <p>Omogucavamo nasim pacijentima da online poruce terapiju koja im je propisana.</p>
                <a href="/ljekovi/" class="button">Ponuda ljekova</a>
            </div>
            <div class="half-below-slider">
                <h1>Za djecu</h1>
                <p>Sve vrste sirupa, septoleta i ljekova za nase malisane.</p>
                <a href="/ljekovi/" class="button">Ponuda za djecu</a>
            </div>
        </div>
    </div>

    <section class="section-of-products" id="section-of-products">
        <h1>Naš asortiman proizvoda</h1>
        <div class="products">
            <div class="product">
                <img src="{{url_for('static',filename='Images/Products/1vitaminD.webp')}}">
                <h2>Vitamin D</h2>
                <p>Namijenjen za djecu i odrasle.</p>
            </div>
            <div class="product">
                <img src="{{url_for('static',filename='Images/Products/2vitaminA.webp')}}">
                <h2>Vitamin A</h2>
                <p>Namijenjen za djecu i odrasle.</p>
            </div>
            <div class="product">
                <img src="{{url_for('static',filename='Images/Products/3vitaminB.png')}}">
                <h2>Vitamin B</h2>
                <p>Namijenjen za djecu i odrasle.</p>
            </div>
        </div>
        <div class="products">
            <div class="product">
                <img src="{{url_for('static',filename='Images/Products/4vitaminC.webp')}}">
                <h2>Vitamin C</h2>
                <p>Namijenjen za djecu i odrasle.</p>
            </div>
            <div class="product">
                <img src="{{url_for('static',filename='Images/Products/5vitaminE.png')}}">
                <h2>Vitamin E</h2>
                <p>Namijenjen za djecu i odrasle.</p>
            </div>
            <div class="product">
                <img src="{{url_for('static',filename='Images/Products/6zaDjecu.webp')}}">
                <h2>Sirup Motrin</h2>
                <p>Namijenjen isključivo za djecu do 9 godina.</p>
            </div>
        </div>
    </section>

    <div class="show_all_products">
        <a href="/ljekovi/" class="button" id="show_more_button">Pogledajte sve proizvode</a>
    </div>

    {% include 'components/footer.html' %}

    <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>

</html>