<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-pharmacy</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/Icons/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="https://kit.fontawesome.com/3e58fdca93.js" crossorigin="anonymous"></script>

</head>

<body>

    {% include 'components/nav.html' %}

    <div class="cont-under-navbar">
        <p><a href="/">Početna</a> / Log in</p>
    </div>


    <h1 style="text-align: center; margin-top: 40px;">Prijavite se ili se registrujte</h1>

    <div class="div-center-forms">
        <div class="container-for-logIn">
            <div class="toggle-buttons">
                <button id="login-btn" onclick="showLoginForm()">Prijava</button>
                <button id="register-btn" onclick="showRegisterForm()">Registracija</button>
            </div>
            <div class="form-container">
                <form id="login-form" class="loginForm" action="/login/" method="post">
                    <h2>Prijavite se</h2>
                    <span style="color: red;">{{login_message}}</span>
                    <input type="text" placeholder="Korisnicko ime" name="login_username" required>
                    <input type="password" placeholder="Lozinka" name="login_password" required>
                    <button type="submit">Prijavite se</button>
                </form>
                <form id="register-form" class="loginForm" action="/register/" method="post">
                    <h2>Registrujte se</h2>
                    <span style="color: red;">{{register_message}}</span>
                    <input type="text" placeholder="JMBG" name="UMCN" required>
                    <input type="text" placeholder="Ime" name="name" required>
                    <input type="text" placeholder="Prezime" name="surname" required>
                    <input type="text" placeholder="Korisnicko ime" name="register_username" required>
                    <input type="tel" placeholder="Telefon" name="phone" required>
                    <input type="password" placeholder="Lozinka" name="register_password" required>
                    <input type="password" placeholder="Ponovi lozinku" name="register_password2" required>
                    <button type="submit">Registrujte se</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}

    <script src="{{url_for('static', filename='js/logIn.js')}}"></script>

</body>

</html>