<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-pharmacy</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/Icons/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="https://kit.fontawesome.com/3e58fdca93.js" crossorigin="anonymous"></script>

</head>

<body>

    {% include 'components/nav.html' %}

    <div class="add-prescription" id="openModal"><i class="fa-solid fa-plus"></i></div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Dodaj recept</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="/recepti/dodaj/" method="post">
                    <label for="textInput">Nazovi svoj recept:</label>
                    <input type="text" id="textInput" name="prescription" required>
                    <button type="submit" class="button">Dodaj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="cont-under-navbar">
        <p><a href="/">Početna</a> / Korpa proizvoda</p>
    </div>

    <!-- Tabela izabranih proizvoda -->


    <div class="product-table-container">
        <h1 style="text-align: center;">Recepti</h1><br>

        <form action="/recepti/" method="post">
            <select name="prescription">
                {% for prescription in prescriptions %}
                <option value="{{prescription.id}}">{{prescription.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="button">Izaberi</button>
        </form>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Slika proizvoda</th>
                    <th>Naziv proizvoda</th>
                    <th>Broj odabranih proizvoda</th>
                    <th>Ukloni</th>
                </tr>
            </thead>
            <tbody>
                {% for medicine in therapy %}
                <tr>
                    <td><img src="/uploads/{{medicine.image}}" alt="{{medicine.name}}">
                    </td>
                    <td class="nameOfProduct">{{medicine.name}}</td>
                    <td>
                        <div class="div-for-quantity"><button class="minusButton">-</button><input type="text"
                                value="{{medicine.quantity}}" class="quantity" readonly><button
                                class="plusButton">+</button></div>
                    </td>
                    <td><a href="/terapija/obrisi/{{medicine.id}}/" class="remove-btn">Ukloni</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        <h3>Niste izabrali recept, ili nemate nijedan lijek na ovom receptu</h3>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% if id %}
        <a href="/recepti/obrisi/{{id}}" class="remove-btn">Obrisi ovaj recept</a>
        {% endif %}
    </div>

    {% include 'components/footer.html' %}

    <script src="{{url_for('static', filename='js/tableOfProducts.js')}}"></script>

    <script>
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("openModal");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>