<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj lijek</title>
</head>

<body>
    <form action="{{ url_for('main.add_medicine', id=medicine.id if medicine else None) }}" method="post"
        enctype="multipart/form-data">
        <input type="text" name="name" placeholder="naziv lijeka" value="{{ medicine.name if medicine else '' }}"
            required><br>
        <input type="file" name="file" required><br>
        <input type="number" name="dose" placeholder="doza" min="0" max="2000"
            value="{{ medicine.dose if medicine else '' }}" required><br>
        <textarea name="description" placeholder="opis lijeka"
            required>{{ medicine.description if medicine else '' }}</textarea><br>
        <input type="text" name="effect" placeholder="dejstvo" value="{{ medicine.effect if medicine else '' }}"
            required><br>
        <input type="number" name="price" placeholder="cijena" min="0" max="100" step="0.01"
            value="{{ medicine.price if medicine else '' }}" required><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>