<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Korpa proizvoda</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/Icons/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="https://kit.fontawesome.com/3e58fdca93.js" crossorigin="anonymous"></script>

</head>

<body>

    {% include 'components/nav.html' %}

    <div class="cont-under-navbar">
        <p><a href="/">Početna</a> / Naši proizvodi</p>
    </div>


    <section class="section-of-products" id="section-of-products" style="margin-top: 3%;">
        <h1 style="margin-bottom: 2%;">Naš asortiman proizvoda</h1>
        <div class="products">
            {% for medicine in all_medicine %}
            <div class="product">
                <img src="/uploads/{{medicine.image}}">
                <a href="/ljekovi/{{medicine.id}}">
                    <h2>{{medicine.name}}</h2>
                </a>
                <p>Cijena: {{medicine.price}} €</p>
                {% if session.get('user_type') == 2 %}
                <div class="buttons">
                    <a href="/ljekovi/dodaj/{{medicine.id}}/" class="button">Promijeni</a>
                    <a href="/ljekovi/obrisi/{{medicine.id}}/" class="button">Obrisi</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>

    {% include 'components/footer.html' %}

    <script src="{{url_for('static', filename='js/pageProducts.js')}}"></script>

</body>

</html>