<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-pharmacy</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/Icons/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="https://kit.fontawesome.com/3e58fdca93.js" crossorigin="anonymous"></script>

</head>

<body>

    {% include 'components/nav.html' %}

    <div class="cont-under-navbar">
        <p><a href="/">Početna</a> / Korpa proizvoda</p>
    </div>

    <!-- Tabela izabranih proizvoda -->


    <div class="product-table-container">
        <h1 style="text-align: center;">Korpa odabranih proizvoda</h1><br>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Slika proizvoda</th>
                    <th>Šifra proizvoda</th>
                    <th>Naziv proizvoda</th>
                    <th>Količina dostupnih proizvoda</th>
                    <th>Broj odabranih proizvoda</th>
                    <th>Ukloni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{url_for('static', filename='Images/Products/1vitaminD.webp')}}" alt="Proizvod 1">
                    </td>
                    <td class="mainNumberOfProduct">12345</td>
                    <td class="nameOfProduct">Vitamin D</td>
                    <td class="available-quantity">10</td>
                    <td>
                        <div class="div-for-quantity"><button class="minusButton">-</button><input type="text" value="1"
                                id="quantity-products" readonly><button class="plusButton">+</button></div>
                    </td>
                    <td><button class="remove-btn">Ukloni</button></td>
                </tr>
                <tr>
                    <td><img src="{{url_for('static', filename='Images/Products/2vitaminA.webp')}}" alt="Proizvod 2">
                    </td>
                    <td class="mainNumberOfProduct">67890</td>
                    <td class="nameOfProduct">Vitamin A</td>
                    <td class="available-quantity">5</td>
                    <td>
                        <div class="div-for-quantity"><button class="minusButton">-</button><input type="text" value="1"
                                id="quantity-products" readonly><button class="plusButton">+</button></div>
                    </td>
                    <td><button class="remove-btn">Ukloni</button></td>
                </tr>
                <tr>
                    <td><img src="{{url_for('static', filename='Images/Products/4vitaminC.webp')}}" alt="Proizvod 2">
                    </td>
                    <td class="mainNumberOfProduct">56274</td>
                    <td class="nameOfProduct">Vitamin C</td>
                    <td class="available-quantity">6</td>
                    <td>
                        <div class="div-for-quantity"><button class="minusButton">-</button><input type="text" value="1"
                                id="quantity-products" readonly><button class="plusButton">+</button></div>
                    </td>
                    <td><button class="remove-btn">Ukloni</button></td>
                </tr>
            </tbody>
        </table>
        <div class="cart">
            <h3>Vaša korpa izabranih proizvoda:</h3>
            <ul id="cart-list" class="cart-list">
                <li>Naziv proizvoda: <span id="id-nameOfProduct">Proizvod 1</span></li>
                <li>Sifra proizvoda: <span id="id-mainNumberOfProduct">12345</span></li>
                <li>Količina proizvoda: <span id="id-quantityOfProduct">3</span></li>
                <hr>
                <li>Ukupna količina odabranih proizvoda: <span id="allProductsQuantity">10</span></li>
            </ul>
            <button id="submit-order" class="requestButton">Zatraži porudžbinu</button>
        </div>
    </div>

    {% include 'components/footer.html' %}

    <script src="{{url_for('static', filename='js/tableOfProducts.js')}}"></script>

</body>

</html>